<div class="container">
<h1>Add New Task</h1>
<%= form_for(@task) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :status %>
  <%= f.check_box :status %>
  <%= f.submit %>
<% end %>
</div>
